<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

 <h1> <%= kindofday %> </h1>

 <form  action="/" method="post">
   <input type="text" name="primero">
   <input type="text" name="segundo">
   <input type="text" name="tercero">
   <button type="submit" name="button"> Add!</button>
 </form>
  </body>
</html>
